@model IEnumerable<Conexion.Models.Bicicleta>

@{
    /**/

    /**/

    ViewBag.Title = "Index";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/css/main.css">
    <link rel="stylesheet" href="~/Content/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="icon" href="~/Content/assets/img/favicon.ico">
    <link rel="stylesheet" href="~/Content/css/main.css">
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>


    <title>Index</title>
</head>






<br />
<br />



<body class="">

    <div class="burbuja">
        <div class="burbuja2"></div>
    </div>


    @{if (Session["Registro"] != null)
        {

            <div class="alert alert-success text-center" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                 Bicicleta Agregada Correctamente
            </div>


        } }


  
    <div class="modal-body">
        <p class="text-center"> @Html.ActionLink("Crear nueva Bicicleta ", "Create")</p>




        <div class="text-center  container">


            <table class="table  container bg-white container-center ">
                <tr class="thead-dark">


                    <th>
                        @Html.DisplayNameFor(model => model.Marca)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Color)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Modelo)
                    </th>
                    <th>
                        Imagen Bicicleta
                    </th>
                    <th>
                        Nombre de Usuario
                    </th>

                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>

                      

                        <td>
                            @Html.DisplayFor(modelItem => item.Marca)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Color)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Modelo)
                        </td>
                        <td>
                         <img  src="@Html.DisplayFor(modelItem => item.ImagenBicicleta)"width="150" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Usuario.NombreUsuario)
                        </td>

                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.IdBicicleta }) |
                            @Html.ActionLink("Detalles", "Details", new { id = item.IdBicicleta }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.IdBicicleta })
                        </td>
                    </tr>
                }

            </table>

        </div>

    </div>





</body>

<script>
    //Autoclose
    window.setTimeout(function () {
        $(".alert").fadeTo(1500, 0).slideDown(1000, function () {
            $(this).remove();
        });
    }, 3000); //2 segundos y desaparece
</script>  