@model IEnumerable<Conexion.Models.Estacionamiento>

@{
    ViewBag.Title = "Index";

}





 <hr />
<br />
<br />

<h1 class="text-center text-dark">Estacionamiento</h1>





<table class="table container border ">
    <tr class="thead-dark">
        <th class="text-center">
            Estacionamiento N°
        </th>
        <th class="text-center">
            Hora Ingreso
        </th>

        <th class="text-center">
            ocupado
        </th>
        <th class="text-center">
            Nombre
            Usuario
        </th>
        <th class="text-center">
            Bicicleta
        </th>
        <th class="text-center">
            Trabajador
        </th>
        <th class="text-center">ↆ</th>
        <th class="text-center">ↆ</th>
        <th class="text-center">ↆ</th>

    </tr>

    @foreach (var item in Model)
    {
        if (item.EstacionamientoOcupado == false)
        {
            <tr class="text-success">
                <td>
                    @Html.DisplayFor(modelItem => item.LugarEstacionamiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraEntrada)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.EstacionamientoOcupado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bicicleta.Usuario.NombreUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bicicleta.ImagenBicicleta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trabajador.Nombre)
                </td>
                <td>
                    @Html.ActionLink("Asignar  Estacionamiento", "Edit", new { id = item.IdEstacionamiento })
                </td>
                <td>
                    @Html.ActionLink("Detalles Estacionamiento", "Details", new { id = item.IdEstacionamiento })

                </td>
                <td>
                    @Html.ActionLink("Desocupar Estacionamiento", "Resolver", new { id = item.IdEstacionamiento })
                </td>
            </tr>


        }
        else if(item.EstacionamientoOcupado == true)
        {

            <tr class="text-danger">
                <td>
                    @Html.DisplayFor(modelItem => item.LugarEstacionamiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraEntrada)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.EstacionamientoOcupado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bicicleta.Usuario.NombreUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bicicleta.ImagenBicicleta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trabajador.Nombre)
                </td>
                <td>
                    @Html.ActionLink("Asignar  Estacionamiento", "Edit", new { id = item.IdEstacionamiento })
                </td>
                <td>
                    @Html.ActionLink("Detalles Estacionamiento", "Details", new { id = item.IdEstacionamiento })

                </td>
                <td>
                    @Html.ActionLink("Desocupar Estacionamiento", "Resolver", new { id = item.IdEstacionamiento })
                </td>
            </tr>}





    }
    }

</table>

