@model Conexion.Models.Reporte

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reporte</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaReporte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaReporte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estacionamiento.IdEstacionamiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estacionamiento.IdEstacionamiento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdReporte }) |
    @Html.ActionLink("Back to List", "Index")
</p>
